#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
  #{script 'jquery.form.js' /}
  #{script 'jquery.ndd.js' /}
  #{script 'postFile.js' /}
#{/set}

#{set 'moreStyles'}
<style>

.postFile .success {
  color: green;
}
.postFile .error {
  color: red;
}
.postFile .dropzone {
  margin: 5px;
  padding: 5px;
  border: #aaa 1px solid;
  background: #ccc;
}
.dropzone.filehover {
  background: #eee;
}
</style>
#{/set}

<div style="width: 300px; margin: 0 auto;">
<h2>Select a file</h2>

#{postFile destUrl: @Application.postFile() /}

</div>

<p>
Due to a minor jQuery bug, the application doesn't yet work with multiple postFiles. I'm working hard to fix this ;)
</p>