#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
  #{script 'jquery.form.js' /}
  #{script 'jquery.ndd.js' /}
  #{script 'postFile.js' /}
#{/set}

<style>

.postFile .success {
  color: green;
}
.postFile .error {
  color: red;
}
.dropzone {
  padding: 5px;
  border: #aaa 1px solid;
  background: #ccc;
}
</style>


<div>
<h2>Any file</h2>

#{postFile destUrl: @Application.postFile() }
  <img src="/public/images/postFileLoad.gif" class="postFileLoad" style="display: none;"/>
  <div class="message"></div>
#{/postFile}

</div>